@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/*                                           Variables */
$maincolor:#fc54a3
$shadow:0 0 15px rgba(0,0 ,0 ,0.25 ) 
$font: 'Lato', sans-serif
body
    box-sizing: border-box


/* ------------------------------------------------------------------------------------------------- */
/*                                          NAVBAR */    
body
    background-color: white
    padding: 0
    margin: 0
    /* font-family: 'Roboto', sans-serif */
    font-family: 'Lato', sans-serif
    height: 200vh
    .navbar.sticky::before
        transform: translateY(0%)  
    .navbar
        height: 8vh    
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        position: fixed
        z-index: 2
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            height: 100%
            width: 100%
            background-color: $maincolor
            box-shadow: $shadow
            z-index: -1
            transition: transform 0.5s ease
            transform: translateY(-100%)
        .nav
            width: -webkit-fill-available
            ul
                display: flex
                justify-content: space-around
                padding: 0
                li
                    list-style: none
                    a
                        text-decoration: none
                        color: white
                        text-transform: uppercase
                        font-weight: 300
                        transition:  all 0.5s ease
                        &:hover
                            transition: all 0.5s ease
                            letter-spacing: 2px
        .nav.open
            align-items: center
            background-color: black
            justify-content: center
            top: 7vh
            transition: all 0.5s ease
            ul
                display: inherit
                li
                    height: 30px
                    a
                        letter-spacing: 6px
                        &:hover
                            color: $maincolor
                            transition: all 0.5s ease
                            letter-spacing: 8px
        .logo
            padding: 10px   
            width: 15%
            margin-left: 2%
            p
                font-size: x-large
                font-weight: 800
                color: white
        .car
            padding: 10px
            width: 15%
            justify-content: end
            display: flex
            margin-right: 10%
            transition: all 0.5s ease
            a
                display: flex
                align-items: center
                text-decoration: none
                color: white
                font-weight: 300
                transition: all 0.5s ease
                p
                    transition: all 0.5s ease
                    &:hover
                        color: $maincolor
                        font-size: larger
                        transition: all 0.5s ease
                        
                i
                    margin-left: 8px   
                    transition: all 0.5s ease
                    &:hover
                        color: $maincolor
                        font-size: larger
        .car.active
            transition: all 0.5s ease
            right: -37px
        .nav-toggler
            display: none
            width: 45px
            margin-right: 20px
            /* font-size: x-small; */
            height: 35px
            cursor: pointer
            border: none
            background-color: transparent
            align-items: center
            justify-content: center
            transition: all 0.5s ease
            span
                height: 2px
                width: 30px
                display: block
                background-color: #fff
                position: relative
                transition: all 0.5s ease
                &::before,&::after
                    content: ''
                    position: absolute
                    left: 0
                    right: 0
                    height: 100%
                    width: 100%
                    background-color: white 
                &::before
                    transform: translateY(-8px)
                    transition: all 0.5s ease
                &::after
                    transform: translateY(8px)   
                    transition: all 0.5s ease
        .nav-toggler.active
            position: absolute
            right: 0
            z-index: 1
            transition: all 0.5s ease
            transform: translateY(40px)
            span
                background-color: transparent
                transition: background-color 0.5s ease
                &::before
                    transform: rotate(45deg)
                    transition: transform 0.5s ease
                &::after
                    transform: rotate(-45deg)
                    transition: transform 0.5s ease
/*                                          Optimizacion */     
@media(max-width: 1000px)           
    body
        .navbar
            height: 7vh    
            .nav-toggler
                display: flex
            .logo
                width: 40%
            .car  
                width: 40%    
                position: absolute
                right: 50px
            .nav
                align-items: center
                width: -webkit-fill-available
                background-clip: black
                position: absolute
                top: -40vh
                text-align: center
                background-color: #fc54a3
                transition: all 0.5s ease
                ul
                    flex-direction: column
                    margin: 0
                    height: -webkit-fill-available
                    align-items: center
                    li
                        height: 30px
                        a
                            letter-spacing: 6px
@media(max-width: 900px)
    body
        .navbar
            .nav-toggler
                display: flex
        .nav
            align-items: center
            width: -webkit-fill-available
            background-clip: black
            position: absolute
            top: -40vh
            text-align: center
            background-color: #fc54a3
            transition: all 0.5s ease
            ul
                flex-direction: column
                li
                    height: 30px
                    a
                        letter-spacing: 6px
        .car
            position: absolute
            right: 50px
            transition: all 0.5s ease
/*                                          Optimizacion-Telefono Vertical*/    
@media ( max-width: 450px )
    body
        .navbar.sticky
            .nav.open
                padding: 40px 0px 40px 0px
            .nav-toggler.active
                right: -15px
                transform: translateY(60px)
/*                                          Optimizacion-Telefono Horizontal*/
/* @media ( max-width: 450px )    
    body
        .navbar
            top: -55vh     */



/* ------------------------------------------------------------------------------------------------ */
/*                                          HEADER */
body
    .header
        overflow: hidden
        height: 100vh
        .img
            display: flex
            height: 100vh
            .img1
                background-attachment: fixed
                background-size: cover
                background-position: center              
                width: 100%
                height: -webkit-fill-available
            .imgphone
                display: none    
/*                                          Optimizacion */       
@media (max-width: 900px)   
    body
        .header
            display: flex
            justify-content: center
            .img
                width: 100%
                .img1
                    display: none
                .imgphone
                    background-attachment: fixed
                    background-size: cover
                    background-position: center              
                    width: 100%
                    height: -webkit-fill-available   
                    display: flex 
/*                                          Optimizacion telefono */
@media ( max-width: 450px )
    body
        .header
            height: 70vh
            .img
                height: 70vh
                width: 100%
                .imgphone
                    display: flex    



/* ------------------------------------------------------------------------------------------------- */ 



/*                                           PIMPUM */
body
    .pimpum
        margin-top: 50px
        display: flex
        flex-direction: column
        align-items: center
        margin: 20px
        margin-bottom: 80px
        overflow: hidden
        h2
            text-transform: uppercase
            font-weight: 900
            font-size: 7vw
            text-align: center
            margin: 20px 0 0 0 
        p
            font-weight: 300
            font-size: 2vw
            text-transform: uppercase
            text-align: center
            letter-spacing: 4px
            width: 100%
        .cont-btn   
            height: 10vh
            display: flex
            align-items: center
            .btn
                font-family: 'Lato'
                text-transform: inherit
                background-color: black
                box-shadow: inherit
                border: cornsilk
                border-radius: 7vh
                color: #fc54a3
                width: 30vh
                height: 10vh
                letter-spacing: 4px
                text-transform: uppercase
                cursor: pointer
                transition: all 0.5s ease
                &:hover
                    width: 35vh
                    height: 12vh
                    letter-spacing: 6px
                    transition: all 0.5s ease
        .banners
                margin-top: 5vh   
                display: flex
                width: 100% 
                justify-content: center
                .cont-ban
                    display: flex
                    margin-top: 30px
                    display: flex
                    margin-right: 30px
                    .bann
                        display: flex
                        width: 7vh
                        margin-right: 3vh
                    .text
                        .text1
                            font-weight: 400
                            letter-spacing: inherit
                            font-size: 15px
                            text-align: inherit
                            margin: 0
                            text-transform: uppercase
                            width: max-content
                        .text2
                            font-size: 13px
                            text-align: inherit
                            margin: 0 
                            text-transform: uppercase   
                            width: max-content
                            letter-spacing: 0px
         
/*                                          Optimizacion */       
@media (max-width: 900px)
    body
        .pimpum
            .banners
                display: flex
                flex-direction: column
/*                                          Optimizacion telefono */   
@media (max-width: 450px)    
    body
        .pimpum
            h2
                font-size: 6vh
                margin: inherit
                margin-top: 30px
            p
                width: inherit
                font-size: 2vh
                letter-spacing: 1px
            .cont-btn
                display: flex
                align-items: center
                .btn
                    width: 20vh
                    height: 5vh  
                    &:hover
                        width: 25vh
                        height: 8vh
                        letter-spacing: 6px
                        transition: all 0.5s ease  
            .banners
                margin-top: inherit
                .cont-ban
                    display: flex
                    margin-top: 30px
                    .bann
                        display: flex
                        width: 5vh
                        margin-right: 3vh
                        .svg
                            width: 50px
                    .text
                        .text1
                            font-weight: 400
                            letter-spacing: inherit
                            font-size: 15px
                            text-align: inherit
                            margin: 0
                            text-transform: uppercase
                        .text2
                            font-size: 13px
                            text-align: inherit
                            margin: 0 
                            text-transform: uppercase
        


/* -------------------------------------------------------------------------------------------------- */    
/*                                          CLOTHES */        
body
    .clothes
        margin: 20px
        .products
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            gap: 1%
            .product
                width: 24%
                min-width: 50vh
                cursor: pointer 
                margin-bottom: 30px
                img 
                    width: 100%
                    padding-bottom: 10px
                    display: block
                    position: relative
                    -webkit-transition: all .4s linear
                    transition: all .4s linear
                    &:hover
                        -ms-transform: scale(1.1)
                        -webkit-transform: scale(1.1)
                        transform: scale(1.1)
                .description
                    display: grid
                    text-transform: uppercase
                    row-gap: 6px
                    .category
                        font-size: 12px
                        color: #5f5f5f
                    a
                        text-decoration: none
                        color: black
                        font-weight: 900
                        letter-spacing: 0px
                    .price
                        font-size: 12px    

/*                                          Optimizacion telefono */
@media (max-width: 450px)
    body
        .clothes
            .products
                .product
                    width: inherit
                    min-width: inherit


/* --------------------------------------------------------------------------------------------------- */
/*                                           GIFT CARD */
body
    .gift-card
        display: flex
        align-items: center
        flex-direction: column
        margin: 20px
        .card2
            width: 100% 
            height: 90vh
        .card1
            display: none           
        .descr-card
            left: 9%
            position: absolute
            width: 20%
            text-transform: uppercase
            height: 48%    
            h2
                font-size: 4vw
                font-weight: 300
            p
                font-size: 1.5vh
                font-weight: 400    
            .cont-btn   
                height: 10vh
                align-items: center
                margin-top: 40px
                .btn
                    font-family: 'Lato'
                    text-transform: inherit
                    background-color: black
                    box-shadow: inherit
                    border: cornsilk
                    border-radius: 7vh
                    color: #fc54a3
                    width: 24vh
                    height: 6vh
                    letter-spacing: 4px
                    text-transform: uppercase
                    cursor: pointer
                    transition: all 0.5s ease
                    &:hover
                        width: 28vh
                        height: 8vh
                        letter-spacing: 6px
                        transition: all 0.5s ease        
                        
/*                                          Optimizacion */
@media (max-width: 900px)
    body
        .gift-card
            .descr-card
                h2
                    font-size: 30px
                p   
                    font-size: 10px 
                .cont-btn
                    .btn
                        width: 18vh
                        height: 4vh
                        letter-spacing: 3px
                        font-size: 12px
                        &:hover
                            height: 5vh
                            width: 19vh
                            font-size: 15px
                            letter-spacing: 4px
/*                                          Optimizacion telefono */
@media (max-width: 450px)
    body
        .gift-card
            margin: 20px
            flex-direction: column
            display: flex
            align-items: center
            .card2
                display: none    
            .card1
                width: 100%    
                display: block
            .descr-card
                text-transform: uppercase
                height: 48%
                text-align: center
                left: inherit
                position: inherit
                width: inherit
                h2
                    font-size: 40px
                p
                    font-size: 14px    
                .cont-btn
                    .btn
                        width: 20vh
                        height: 5vh
                        letter-spacing: 3px
                        font-size: 16px
                        &:hover
                            height: 6vh
                            width: 23vh
                            font-size: 18px
                            letter-spacing: 4px                    


/* ---------------------------------------------------------------------------------------------------- */
/*                                          ART */
body
    .art
        margin: 20px
        display: flex
        height: 30%
        align-items: center
        .descr-art
            display: flex
            flex-direction: column
            margin: 20px 150px 0px 50px
            width: 30%
            text-transform: uppercase
            justify-content: end
            position: absolute
            h2
                font-size: 3vw
                color: white
            p
                font-size: 1.5vw
                color: white
            .cont-btn   
                height: 10vh
                align-items: center
                margin-top: 40px
                .btn
                    font-family: 'Lato'
                    text-transform: inherit
                    background-color: black
                    box-shadow: inherit
                    border: cornsilk
                    border-radius: 7vh
                    color: #fc54a3
                    width: 30vh
                    height: 6vh
                    letter-spacing: 4px
                    text-transform: uppercase
                    cursor: pointer
                    transition: all 0.5s ease
                    &:hover
                        width: 28vh
                        height: 8vh
                        letter-spacing: 6px
                        transition: all 0.5s ease    
        img
            width: 100%
            object-fit: cover
            height: 100%


/*                                          Optimizacion  */
/*                                          Optimizacion telefono */
@media (max-width: 450px)
    body
        .art
            height: 50vh
            width: 90%
            img
                height: inherit
            .descr-art
                align-items: center
                margin: inherit
                width: 90% 
                justify-content: center
                align-self: center
                h2
                    font-size: 43px
                    color: $maincolor
                    width: 85%
                    text-align: center
                    margin: 0
                p
                    color: white
                    width: 85%
                    font-weight: 300
                    text-align: center
                    font-size: 4vw



/*                                                  Carousel products */
body
    .products
        margin: 20px
        display: flex
        justify-content: center
        margin-top: 50px
        .glider-contain
            align-items: center
            justify-content: center
            display: flex
            .glider-next
                right: -4px
                top: inherit
                padding: inherit
                color: $maincolor
            .glider-prev   
                left: -4px
                top: inherit
                padding: inherit
                color: $maincolor
        .glider
            display: flex 
            width: 100%   



/* ------------------------------------------------------------------------------------------------------ */
/*                                          Footer */
body
    .footer
        .phrase
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            text-align: center
            padding-bottom: 80px
            margin: 0px 20px
            h2
                font-size: 6vw
                text-transform: uppercase
                margin: 0
                margin-top: 30px
            p
                font-size: 3.5vh
                text-transform: uppercase
                letter-spacing: 4px
        .info
            background-color: black
            display: flex
            justify-content: space-between
            padding: 30px 0px 10px 0px
            ul
                color: white
                text-transform: uppercase
                list-style: none
                margin-bottom: 20px
                color: $maincolor
                letter-spacing: 2px
                li
                    text-decoration: none
                    line-height: 2vw
                    font-size: 0.9vw
                    padding-top: 10px
                a
                    color: white    
                    text-decoration: none
        .rights
            display: flex
            justify-content: space-between
            padding: 0px 50px
            background-color: black
            color: white            
            align-items: center
            text-transform: uppercase
            font-size: 0.7vw
            


/*                                          Optimizacion  */
/*                                          Optimizacion telefono */
@media (max-width: 450px)
    body
        .footer
            .phrase
                h2
                    font-size: 10vw
                p
                    font-size: 4vw    
            .info
                flex-direction: column
                align-items: center
                text-align: center
                ul
                    padding: 0    
                    li
                        font-size: 3vw
            .rights
                font-size: 2.5vw
                flex-direction: column
                line-height: 20px    
                padding: 0px 20px        

                





                
                            


     




                            


                



