@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*                                           Variables */
/*                                      Header */
body {
  background-color: white;
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif */
  font-family: "Lato", sans-serif;
  height: 200vh; }
  body .navbar {
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed; }
    body .navbar .nav {
      width: -webkit-fill-available; }
      body .navbar .nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0; }
        body .navbar .nav ul li {
          list-style: none; }
          body .navbar .nav ul li a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            transition: all 0.5s ease; }
            body .navbar .nav ul li a:hover {
              color: #fc54a3;
              transition: all 0.5s ease;
              letter-spacing: 2px; }
    body .navbar .nav.open {
      align-items: center;
      background-color: black;
      justify-content: center;
      top: 9vh;
      transition: all 0.5s ease; }
      body .navbar .nav.open ul {
        display: inherit; }
        body .navbar .nav.open ul li {
          height: 30px; }
          body .navbar .nav.open ul li a {
            letter-spacing: 6px; }
            body .navbar .nav.open ul li a:hover {
              color: #fc54a3;
              transition: all 0.5s ease;
              letter-spacing: 8px; }
    body .navbar .logo {
      padding: 10px;
      width: 15%;
      margin-left: 2%; }
      body .navbar .logo p {
        font-size: x-large;
        font-weight: 800;
        color: white; }
    body .navbar .car {
      padding: 10px;
      width: 15%;
      justify-content: end;
      display: flex;
      margin-right: 2%;
      transition: all 0.5s ease; }
      body .navbar .car a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: 300;
        transition: all 0.5s ease; }
        body .navbar .car a p {
          transition: all 0.5s ease; }
          body .navbar .car a p:hover {
            color: #fc54a3;
            font-size: larger;
            transition: all 0.5s ease; }
        body .navbar .car a i {
          margin-left: 8px;
          transition: all 0.5s ease; }
          body .navbar .car a i:hover {
            color: #fc54a3;
            font-size: larger; }
    body .navbar .car.active {
      transition: all 0.5s ease;
      right: 0; }
    body .navbar .nav-toggler {
      display: none;
      width: 45px;
      margin-right: 20px;
      /* font-size: x-small; */
      height: 35px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease; }
      body .navbar .nav-toggler:hover {
        background-color: #fc54a3; }
      body .navbar .nav-toggler span {
        height: 2px;
        width: 30px;
        display: block;
        background-color: #fff;
        position: relative;
        transition: all 0.5s ease; }
        body .navbar .nav-toggler span::before, body .navbar .nav-toggler span::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background-color: white; }
        body .navbar .nav-toggler span::before {
          transform: translateY(-8px);
          transition: all 0.5s ease; }
        body .navbar .nav-toggler span::after {
          transform: translateY(8px);
          transition: all 0.5s ease; }
    body .navbar .nav-toggler.active {
      position: absolute;
      right: 0;
      z-index: 1;
      transition: all 0.5s ease;
      transform: translateY(40px); }
      body .navbar .nav-toggler.active span {
        background-color: transparent;
        transition: background-color 0.5s ease; }
        body .navbar .nav-toggler.active span::before {
          transform: rotate(45deg);
          transition: transform 0.5s ease; }
        body .navbar .nav-toggler.active span::after {
          transform: rotate(-45deg);
          transition: transform 0.5s ease; }

/*                                          Optimizacion */
@media(max-width: 1000px) {
  body .navbar {
    height: 10vh; }
    body .navbar .nav-toggler {
      display: flex; }
    body .navbar .logo {
      width: 40%; }
    body .navbar .car {
      width: 40%;
      position: absolute;
      right: 50px; }
    body .navbar .nav {
      align-items: center;
      width: -webkit-fill-available;
      background-clip: black;
      position: absolute;
      top: -40vh;
      text-align: center;
      background-color: #fc54a3;
      transition: all 0.5s ease; }
      body .navbar .nav ul {
        flex-direction: column;
        margin: 0;
        height: -webkit-fill-available;
        align-items: center; }
        body .navbar .nav ul li {
          height: 30px; }
          body .navbar .nav ul li a {
            letter-spacing: 6px; } }
@media(max-width: 900px) {
  body .navbar .nav-toggler {
    display: flex; }
  body .nav {
    align-items: center;
    width: -webkit-fill-available;
    background-clip: black;
    position: absolute;
    top: -40vh;
    text-align: center;
    background-color: #fc54a3;
    transition: all 0.5s ease; }
    body .nav ul {
      flex-direction: column; }
      body .nav ul li {
        height: 30px; }
        body .nav ul li a {
          letter-spacing: 6px; }
  body .car {
    position: absolute;
    right: 50px;
    transition: all 0.5s ease; } }
/*                                          Optimizacion-Telefono */
/*                                          HEADER */
body .header .img img {
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

/*# sourceMappingURL=style.css.map */
