@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*                                           Variables */
body {
  box-sizing: border-box; }

/* ------------------------------------------------------------------------------------------------- */
/*                                          NAVBAR */
body {
  background-color: white;
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif */
  font-family: "Lato", sans-serif;
  height: 200vh; }
  body .navbar.sticky::before {
    transform: translateY(0%); }
  body .navbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2; }
    body .navbar::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #fc54a3;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      z-index: -1;
      transition: transform 0.5s ease;
      transform: translateY(-100%); }
    body .navbar .nav {
      width: -webkit-fill-available; }
      body .navbar .nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0; }
        body .navbar .nav ul li {
          list-style: none; }
          body .navbar .nav ul li a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            transition: all 0.5s ease; }
            body .navbar .nav ul li a:hover {
              transition: all 0.5s ease;
              letter-spacing: 2px; }
    body .navbar .nav.open {
      align-items: center;
      background-color: black;
      justify-content: center;
      top: 7vh;
      transition: all 0.5s ease; }
      body .navbar .nav.open ul {
        display: inherit; }
        body .navbar .nav.open ul li {
          height: 30px; }
          body .navbar .nav.open ul li a {
            letter-spacing: 6px; }
            body .navbar .nav.open ul li a:hover {
              color: #fc54a3;
              transition: all 0.5s ease;
              letter-spacing: 8px; }
    body .navbar .logo {
      padding: 10px;
      width: 15%;
      margin-left: 2%; }
      body .navbar .logo p {
        font-size: x-large;
        font-weight: 800;
        color: white; }
    body .navbar .car {
      padding: 10px;
      width: 15%;
      justify-content: end;
      display: flex;
      margin-right: 10%;
      transition: all 0.5s ease; }
      body .navbar .car a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: 300;
        transition: all 0.5s ease; }
        body .navbar .car a p {
          transition: all 0.5s ease; }
          body .navbar .car a p:hover {
            color: #fc54a3;
            font-size: larger;
            transition: all 0.5s ease; }
        body .navbar .car a i {
          margin-left: 8px;
          transition: all 0.5s ease; }
          body .navbar .car a i:hover {
            color: #fc54a3;
            font-size: larger; }
    body .navbar .car.active {
      transition: all 0.5s ease;
      right: -37px; }
    body .navbar .nav-toggler {
      display: none;
      width: 45px;
      margin-right: 20px;
      /* font-size: x-small; */
      height: 35px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease; }
      body .navbar .nav-toggler span {
        height: 2px;
        width: 30px;
        display: block;
        background-color: #fff;
        position: relative;
        transition: all 0.5s ease; }
        body .navbar .nav-toggler span::before, body .navbar .nav-toggler span::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background-color: white; }
        body .navbar .nav-toggler span::before {
          transform: translateY(-8px);
          transition: all 0.5s ease; }
        body .navbar .nav-toggler span::after {
          transform: translateY(8px);
          transition: all 0.5s ease; }
    body .navbar .nav-toggler.active {
      position: absolute;
      right: 0;
      z-index: 1;
      transition: all 0.5s ease;
      transform: translateY(40px); }
      body .navbar .nav-toggler.active span {
        background-color: transparent;
        transition: background-color 0.5s ease; }
        body .navbar .nav-toggler.active span::before {
          transform: rotate(45deg);
          transition: transform 0.5s ease; }
        body .navbar .nav-toggler.active span::after {
          transform: rotate(-45deg);
          transition: transform 0.5s ease; }

/*                                          Optimizacion */
@media(max-width: 1000px) {
  body .navbar {
    height: 7vh; }
    body .navbar .nav-toggler {
      display: flex; }
    body .navbar .logo {
      width: 40%; }
    body .navbar .car {
      width: 40%;
      position: absolute;
      right: 50px; }
    body .navbar .nav {
      align-items: center;
      width: -webkit-fill-available;
      background-clip: black;
      position: absolute;
      top: -40vh;
      text-align: center;
      background-color: #fc54a3;
      transition: all 0.5s ease; }
      body .navbar .nav ul {
        flex-direction: column;
        margin: 0;
        height: -webkit-fill-available;
        align-items: center; }
        body .navbar .nav ul li {
          height: 30px; }
          body .navbar .nav ul li a {
            letter-spacing: 6px; } }
@media(max-width: 900px) {
  body .navbar .nav-toggler {
    display: flex; }
  body .nav {
    align-items: center;
    width: -webkit-fill-available;
    background-clip: black;
    position: absolute;
    top: -40vh;
    text-align: center;
    background-color: #fc54a3;
    transition: all 0.5s ease; }
    body .nav ul {
      flex-direction: column; }
      body .nav ul li {
        height: 30px; }
        body .nav ul li a {
          letter-spacing: 6px; }
  body .car {
    position: absolute;
    right: 50px;
    transition: all 0.5s ease; } }
/*                                          Optimizacion-Telefono Vertical */
@media (max-width: 450px) {
  body .navbar.sticky .nav.open {
    padding: 40px 0px 40px 0px; }
  body .navbar.sticky .nav-toggler.active {
    right: -15px;
    transform: translateY(60px); } }
/*                                          Optimizacion-Telefono Horizontal */
/* @media ( max-width: 450px )
 * body
 *     .navbar
 *         top: -55vh     */
/* ------------------------------------------------------------------------------------------------ */
/*                                          HEADER */
body .header {
  overflow: hidden;
  height: 100vh; }
  body .header .img {
    display: flex;
    height: 100vh; }
    body .header .img .img1 {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: -webkit-fill-available; }
    body .header .img .imgphone {
      display: none; }

/*                                          Optimizacion */
@media (max-width: 900px) {
  body .header {
    display: flex;
    justify-content: center; }
    body .header .img {
      width: 100%; }
      body .header .img .img1 {
        display: none; }
      body .header .img .imgphone {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: -webkit-fill-available;
        display: flex; } }
/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .header {
    height: 70vh; }
    body .header .img {
      height: 70vh;
      width: 100%; }
      body .header .img .imgphone {
        display: flex; } }
/* ------------------------------------------------------------------------------------------------- */
/*                                           PIMPUM */
body .pimpum {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-bottom: 80px;
  overflow: hidden; }
  body .pimpum h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7vw;
    text-align: center;
    margin: 20px 0 0 0; }
  body .pimpum p {
    font-weight: 300;
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    width: 100%; }
  body .pimpum .cont-btn {
    height: 10vh;
    display: flex;
    align-items: center; }
    body .pimpum .cont-btn .btn {
      font-family: "Lato";
      text-transform: inherit;
      background-color: black;
      box-shadow: inherit;
      border: cornsilk;
      border-radius: 7vh;
      color: #fc54a3;
      width: 30vh;
      height: 10vh;
      letter-spacing: 4px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s ease; }
      body .pimpum .cont-btn .btn:hover {
        width: 35vh;
        height: 12vh;
        letter-spacing: 6px;
        transition: all 0.5s ease; }
  body .pimpum .banners {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center; }
    body .pimpum .banners .cont-ban {
      display: flex;
      margin-top: 30px;
      display: flex;
      margin-right: 30px; }
      body .pimpum .banners .cont-ban .bann {
        display: flex;
        width: 7vh;
        margin-right: 3vh; }
      body .pimpum .banners .cont-ban .text .text1 {
        font-weight: 400;
        letter-spacing: inherit;
        font-size: 15px;
        text-align: inherit;
        margin: 0;
        text-transform: uppercase;
        width: max-content; }
      body .pimpum .banners .cont-ban .text .text2 {
        font-size: 13px;
        text-align: inherit;
        margin: 0;
        text-transform: uppercase;
        width: max-content;
        letter-spacing: 0px; }

/*                                          Optimizacion */
@media (max-width: 900px) {
  body .pimpum .banners {
    display: flex;
    flex-direction: column; } }
/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .pimpum h2 {
    font-size: 6vh;
    margin: inherit;
    margin-top: 30px; }
  body .pimpum p {
    width: inherit;
    font-size: 2vh;
    letter-spacing: 1px; }
  body .pimpum .cont-btn {
    display: flex;
    align-items: center; }
    body .pimpum .cont-btn .btn {
      width: 20vh;
      height: 5vh; }
      body .pimpum .cont-btn .btn:hover {
        width: 25vh;
        height: 8vh;
        letter-spacing: 6px;
        transition: all 0.5s ease; }
  body .pimpum .banners {
    margin-top: inherit; }
    body .pimpum .banners .cont-ban {
      display: flex;
      margin-top: 30px; }
      body .pimpum .banners .cont-ban .bann {
        display: flex;
        width: 5vh;
        margin-right: 3vh; }
        body .pimpum .banners .cont-ban .bann .svg {
          width: 50px; }
      body .pimpum .banners .cont-ban .text .text1 {
        font-weight: 400;
        letter-spacing: inherit;
        font-size: 15px;
        text-align: inherit;
        margin: 0;
        text-transform: uppercase; }
      body .pimpum .banners .cont-ban .text .text2 {
        font-size: 13px;
        text-align: inherit;
        margin: 0;
        text-transform: uppercase; } }
/* -------------------------------------------------------------------------------------------------- */
/*                                          CLOTHES */
body .clothes {
  margin: 20px; }
  body .clothes .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1%; }
    body .clothes .products .product {
      width: 24%;
      min-width: 50vh;
      cursor: pointer;
      margin-bottom: 30px; }
      body .clothes .products .product img {
        width: 100%;
        padding-bottom: 10px;
        display: block;
        position: relative;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear; }
        body .clothes .products .product img:hover {
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
      body .clothes .products .product .description {
        display: grid;
        text-transform: uppercase;
        row-gap: 6px; }
        body .clothes .products .product .description .category {
          font-size: 12px;
          color: #5f5f5f; }
        body .clothes .products .product .description a {
          text-decoration: none;
          color: black;
          font-weight: 900;
          letter-spacing: 0px; }
        body .clothes .products .product .description .price {
          font-size: 12px; }

/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .clothes .products .product {
    width: inherit;
    min-width: inherit; } }
/* --------------------------------------------------------------------------------------------------- */
/*                                           GIFT CARD */
body .gift-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px; }
  body .gift-card .card2 {
    width: 100%;
    height: 90vh; }
  body .gift-card .card1 {
    display: none; }
  body .gift-card .descr-card {
    left: 9%;
    position: absolute;
    width: 20%;
    text-transform: uppercase;
    height: 48%; }
    body .gift-card .descr-card h2 {
      font-size: 4vw;
      font-weight: 300; }
    body .gift-card .descr-card p {
      font-size: 1.5vh;
      font-weight: 400; }
    body .gift-card .descr-card .cont-btn {
      height: 10vh;
      align-items: center;
      margin-top: 40px; }
      body .gift-card .descr-card .cont-btn .btn {
        font-family: "Lato";
        text-transform: inherit;
        background-color: black;
        box-shadow: inherit;
        border: cornsilk;
        border-radius: 7vh;
        color: #fc54a3;
        width: 24vh;
        height: 6vh;
        letter-spacing: 4px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease; }
        body .gift-card .descr-card .cont-btn .btn:hover {
          width: 28vh;
          height: 8vh;
          letter-spacing: 6px;
          transition: all 0.5s ease; }

/*                                          Optimizacion */
@media (max-width: 900px) {
  body .gift-card .descr-card h2 {
    font-size: 30px; }
  body .gift-card .descr-card p {
    font-size: 10px; }
  body .gift-card .descr-card .cont-btn .btn {
    width: 18vh;
    height: 4vh;
    letter-spacing: 3px;
    font-size: 12px; }
    body .gift-card .descr-card .cont-btn .btn:hover {
      height: 5vh;
      width: 19vh;
      font-size: 15px;
      letter-spacing: 4px; } }
/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .gift-card {
    margin: 20px;
    flex-direction: column;
    display: flex;
    align-items: center; }
    body .gift-card .card2 {
      display: none; }
    body .gift-card .card1 {
      width: 100%;
      display: block; }
    body .gift-card .descr-card {
      text-transform: uppercase;
      height: 48%;
      text-align: center;
      left: inherit;
      position: inherit;
      width: inherit; }
      body .gift-card .descr-card h2 {
        font-size: 40px; }
      body .gift-card .descr-card p {
        font-size: 14px; }
      body .gift-card .descr-card .cont-btn .btn {
        width: 20vh;
        height: 5vh;
        letter-spacing: 3px;
        font-size: 16px; }
        body .gift-card .descr-card .cont-btn .btn:hover {
          height: 6vh;
          width: 23vh;
          font-size: 18px;
          letter-spacing: 4px; } }
/* ---------------------------------------------------------------------------------------------------- */
/*                                          ART */
body .art {
  margin: 20px;
  display: flex;
  height: 30%;
  align-items: center; }
  body .art .descr-art {
    display: flex;
    flex-direction: column;
    margin: 20px 150px 0px 50px;
    width: 30%;
    text-transform: uppercase;
    justify-content: end;
    position: absolute; }
    body .art .descr-art h2 {
      font-size: 3vw;
      color: white; }
    body .art .descr-art p {
      font-size: 1.5vw;
      color: white; }
    body .art .descr-art .cont-btn {
      height: 10vh;
      align-items: center;
      margin-top: 40px; }
      body .art .descr-art .cont-btn .btn {
        font-family: "Lato";
        text-transform: inherit;
        background-color: black;
        box-shadow: inherit;
        border: cornsilk;
        border-radius: 7vh;
        color: #fc54a3;
        width: 30vh;
        height: 6vh;
        letter-spacing: 4px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease; }
        body .art .descr-art .cont-btn .btn:hover {
          width: 28vh;
          height: 8vh;
          letter-spacing: 6px;
          transition: all 0.5s ease; }
  body .art img {
    width: 100%;
    object-fit: cover;
    height: 100%; }

/*                                          Optimizacion  */
/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .art {
    height: 50vh;
    width: 90%; }
    body .art img {
      height: inherit; }
    body .art .descr-art {
      align-items: center;
      margin: inherit;
      width: 90%;
      justify-content: center;
      align-self: center; }
      body .art .descr-art h2 {
        font-size: 43px;
        color: #fc54a3;
        width: 85%;
        text-align: center;
        margin: 0; }
      body .art .descr-art p {
        color: white;
        width: 85%;
        font-weight: 300;
        text-align: center;
        font-size: 4vw; } }
/*                                                  Carousel products */
body .products {
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  body .products .glider-contain {
    align-items: center;
    justify-content: center;
    display: flex; }
    body .products .glider-contain .glider-next {
      right: -4px;
      top: inherit;
      padding: inherit;
      color: #fc54a3; }
    body .products .glider-contain .glider-prev {
      left: -4px;
      top: inherit;
      padding: inherit;
      color: #fc54a3; }
  body .products .glider {
    display: flex;
    width: 100%; }

/* ------------------------------------------------------------------------------------------------------ */
/*                                          Footer */
body .footer .phrase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  margin: 0px 20px; }
  body .footer .phrase h2 {
    font-size: 6vw;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px; }
  body .footer .phrase p {
    font-size: 3.5vh;
    text-transform: uppercase;
    letter-spacing: 4px; }
body .footer .info {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 10px 0px; }
  body .footer .info ul {
    color: white;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 20px;
    color: #fc54a3;
    letter-spacing: 2px; }
    body .footer .info ul li {
      text-decoration: none;
      line-height: 2vw;
      font-size: 0.9vw;
      padding-top: 10px; }
    body .footer .info ul a {
      color: white;
      text-decoration: none; }
body .footer .rights {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: black;
  color: white;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7vw; }

/*                                          Optimizacion  */
/*                                          Optimizacion telefono */
@media (max-width: 450px) {
  body .footer .phrase h2 {
    font-size: 10vw; }
  body .footer .phrase p {
    font-size: 4vw; }
  body .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    body .footer .info ul {
      padding: 0; }
      body .footer .info ul li {
        font-size: 3vw; }
  body .footer .rights {
    font-size: 2.5vw;
    flex-direction: column;
    line-height: 20px;
    padding: 0px 20px; } }
/*                                                                                          Top btn */
body .top-btn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 5px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  color: #fc54a3;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  background-color: transparent;
  border-color: transparent;
  z-index: 1; }
body .top-btn:hover {
  color: #fff; }
body .top-btn:focus {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
